


@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
.container {
  display: grid;
  min-height: 100vh;
  gap: 1px;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr 80px;
  grid-template-areas: 
    "hd hd"
    "sd-l main"
    "ft ft";
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "hd"
      "sd-l"
      "main"
      "ft";
  }
}
header { grid-area: hd; background: #246cf8; padding: 5px; color: #FDFDFD;}
main { grid-area: main; background: #ffffff; padding: 5px; margin: 5px;}
h1 {color: limegreen;}
.sidebar-l { grid-area: sd-l; background: #00bf63; padding: 5px; color: #FDFDFD}
footer { grid-area: ft; background: #0e0707; padding: 5px; color: #FDFDFD;}
h2, h1, h3, p, li {font-family: 'New Amsterdam', sans-serif;}